# ignore everything
/*
/*/

# But not these files
!.bashrc
!.gitignore
!/.local/
!/.config/
!/.myetc/
!/.scripts/
!.ready-tmux
!.vimrc
!.systemd-enabled.txt

# Nueva configuracion para fedora + dcli + nix
.config/dcli-config
nix-config
.dotfiles-backup
