window {
  margin: 8px;
  border-radius: 8px;
  background-color: rgba(28, 27, 26, 0.94);
  border: 1px solid #322f2b;
}

#outer-box, #inner-box {
  margin: 4px;
  padding: 0;
  background: transparent;
}

#input {
  margin: 4px;
  padding: 4px;
  background-color: #242322;
  color: #ece4cd;
  border: none;
  font-size: 17px;
}

#scroll {
  margin: 0;
  border: none;
}

#entry {
  margin: 0 4px;
  padding: 4px 4px;
  border-radius: 4px;
  font-size: 17px;
}

#entry:selected {
  background-color: #322f2b;
  color: #ece4cd;
}

#text {
  color: #8a8272;
  margin: 4px 0;
}

#entry:selected #text {
  color: #e6bd5f;
}
